

<footer class="bg-custom-footer text-white text-center py-4 mt-5">
    <div class="copyright">

        <p class="logo-img"><img class="logo-img" src="/images/myLogo.png" alt="jellyfish"></p>
        <p> &copy; 2025 Cuddly Jellyfish. All rights reserved.</p>
        
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/main.js"></script>

</body>
</html>

